.layadmin-user-login-main {
    width: 375px;
    margin: 0 auto;
    box-sizing: border-box;
}
.layui-layout-body{
    background-color: #F2F2F2;
}
.layui-layout-body {
    overflow: auto;
}
.layadmin-user-login {
    position: relative;
    left: 0;
    top: 0;
    padding: 110px 0;
    min-height: 100%;
    box-sizing: border-box;
}
.layadmin-user-login-header {
    text-align: center;
}
.layadmin-user-login-box {
    padding: 20px;
}
.layadmin-user-login-box {
    padding: 20px;
}
.layadmin-user-login-body .layui-form-item {
    position: relative;
}
.layui-form-item {
    margin-bottom: 15px;
    clear: both;
    *zoom: 1;
}
.layadmin-user-login-footer p{
    text-align: center;
    color: black;
}
.layadmin-user-login-footer p a{
    text-align: center;
    color: black;
}
.layadmin-user-login-other a{
    color: black;
    float: right;
    text-decoration-line: underline;
}
.height_layout{
    height: 100%;
}
.layadmin-user-login-icon {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 38px;
    line-height: 36px;
    text-align: center;
}
.layui-icon {
    font-family: layui-icon !important;
    font-size: 16px;
    font-style: normal;
}
.layadmin-user-login-body .layui-form-item .layui-input {
    padding-left: 38px;
}