.layui-layout-admin .layui-logo a{
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    line-height: 60px;
    text-align: center;
    color:white;
    font-size: 22px;
}
.layui-body{
    height: 100%
}
.foot{
    margin-top:150px;
    background-color: gainsboro
}
.pay_button{
    margin-left: 465px;
}
.pay_btn{
    margin-top: 10px;
    margin-left: 63px;
}
.foot_bottom{
    height: 50px;margin-bottom: 50px
}

