<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">


    <!--存储数据-->
    <bean id="pagePvTrigger" class="com.frog.platform.quartz.PagePvTrigger"/>
    <bean id="method1" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="pagePvTrigger" />
        </property>
        <property name="targetMethod">  <!-- 要执行的方法名称 -->
            <value>pagePvStatistic</value>
        </property>
    </bean>
    <!--配置调度触发器-->
    <bean id="trigger1" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean ">
        <property name="jobDetail" ref="method1"></property>
        <property name="cronExpression" value="0/1 * * * * ? "></property><!--每3分钟执行一次-->
    </bean>



    <!--初始化-->
    <bean id="pagePvInitTrigger" class="com.frog.platform.quartz.PagePvInitTrigger"/>
    <bean id="method2" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="pagePvInitTrigger" />
        </property>
        <property name="targetMethod">  <!-- 要执行的方法名称 -->
            <value>initPagePv</value>
        </property>
    </bean>
    <!--配置调度触发器-->
    <bean id="trigger2" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean ">
        <property name="jobDetail" ref="method2"></property>
        <property name="cronExpression" value="0/3 * * * * ? *"></property><!--每天凌晨执行-->
    </bean>




    <!--配置调度工厂-->
    <bean id="SpringJobSchedulerFactoryBean"
          class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="trigger1" />
                <ref bean="trigger2" />
            </list>
        </property>
    </bean>





</beans>
